@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="introduce">
    <div class="wrapper">
        <div class="cycle-slideshow composite-example" data-cycle-slides="> div" data-cycle-fx="scrollHorz" data-cycle-pause-on-hover="true" data-cycle-speed="1000" data-cycle-pager-event="mouseover" data-cycle-pager="#pager1">
            <div style="width:100%">
                <img class="visible" id="myimage1" src="./Content/image/index/image1.gif" />
                <div class="cycle-overlay">Sonnenberg Gardens</div>
            </div>
            <div style="width:100%">
                <img class="visible" id="myimage2" src="./Content/image/index/image2.gif" />
                <div class="cycle-overlay">Sonnenberg Gardens</div>
            </div>
            <div style="width:100%">
                <img class="visible" id="myimage3" src="./Content/image/index/image3.gif" />
                <div class="cycle-overlay">Sonnenberg Gardens</div>
            </div>
            <div style="width:100%">
                <img class="visible" id="myimage4" src="./Content/image/index/image4.gif" />
                <div class="cycle-overlay">Sonnenberg Gardens</div>
            </div>
        </div>
        <div class="cycle-pager" id="pager1"></div>
    </div>
<div class="searchform">
</div>
</div>
